#jabbers {
    display: block;
    margin: 0 auto;
    border: 0;
}
    
@font-face{
    font-family: "Cartograph";
    src: url("./CartographSansCF-Medium.otf");
}

#.wy-nav-content {
#    max-width: 1200px !important;
#}

body {
#  letter-spacing: -1px;
}

table.docutils {
#  font-size: 8px;
#    width: 100px:
}

p {
#  line-height: 115%;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}